@model IEnumerable<dbemphw.Models.Singer>

@{
    ViewBag.Title = "Singer";
}

<h2>歌手</h2>


<h3 style="text-align:right">
    @Html.ActionLink("新增歌手", "CreateSinger", null, new { @class = "btn btn-warning" })
</h3>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.zId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zDesc)
            </th>
            <th>異動</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.zId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zDesc)
            </td>
            <td>
                <a href="@Url.Action("DetailSinger","Singer")?zId=@item.zId" class="btn btn-primary">詳細資訊</a>
                <a href="@Url.Action("EditSinger","Singer")?zId=@item.zId" class="btn btn-info">編輯資訊</a>
                <a href="@Url.Action("DeleteSinger","Singer")?id=@item.zId" class="btn btn-danger"
                   onclick="return confirm('確定要刪除 @item.zId 這個歌手資訊嗎');">刪除</a>
            </td>
        </tr>
    }

</table>


@section topCSS{
    <style>
        a:link {
            text-decoration: none;
            color: #fff;
        }

        a:visited {
            text-decoration: none;
            color: #fff;
        }

        a:hover {
            text-decoration: none;
            color: #fff;
        }

        a:active {
            text-decoration: none;
            color: #fff;
        }
    </style>
}


